.discussBlock
{
  padding: 15px;
}

.discussBlock .title
{
  font: 18px/24px Helvetica, Arial, sans-serif;
  color: #000;
}

.ticketMessage
{
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 150px;
  background-color: #fff;
  border: 1px solid #c1cfd4;
}

.ticketMessage.supportMessage
{
  border: 1px solid #2fc7f7;
}

.ticketMessage .messageHead
{
  background-color: #99abb2;
  color: #fff;
  font: 13px/14px Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 13px 15px;
}

.ticketMessage .messageHead .tDelimeter
{
  margin: 0 8px;
}

.ticketMessage.supportMessage .messageHead{
  background-color: #2fc7f7;
}

.messageBody .supportFloatQuote
{
  float: right;
}

.messageBody .supportFloatQuote .btn
{
  border: 1px solid rgba(193, 206, 211, 0.5);
  border-radius: 3px;
  color: #848a94;
  font: 700 9px/14px Helvetica,Arial,sans-serif;
  padding: 6px 10px;
  text-transform: uppercase;
}

.messageBody .avatarBlock
{
  float: left;
  width: 97px;
}

.messageBody .avatarBlock .avatar
{
  border-radius: 50%;
  margin: 15px;
  width: 67px;
  max-height: 100px;
}

.messageBody .content
{
  float: left;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.messageBody:after,
.infoBlock:after,
.field:after
{
  display: block;
  content: '';
  clear: both;
}

.messageBody .content .filesBlock
{
  border: 1px solid rgba(193, 207, 212, 0.3);
  background-color: rgba(245, 247, 248, 0.7);
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 14px;
}

.messageBody .content .text
{
  color: #000;
  font-size: 15px;
}

.content .filesBlock .filesTitle
{
  text-transform: uppercase;
  color: #848a94;
  font: 9px/14px Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 14px;
}

.content .filesBlock .file
{
  margin: 20px 0;
  font: 14px/14px Helvetica, Arial, sans-serif;
}
.content .file .fileName
{
  text-decoration: underline;
  color: #1e97bd;
  vertical-align: middle;
}

.content .file .fPreview
{
  display:inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.content .file .fSize
{
  vertical-align: middle;
  color: #647b88;
}

.content .file .fDownload
{
  vertical-align: middle;
  margin: 0 8px;
  border-radius: 5px;
  background-color: #2fc7f7;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 10px;
}