.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}

.g-cols {
  margin-bottom: 0;
}

.g-cols:before, .g-cols:after {
  display: table;
  line-height: 0;
  content: '';
}

.g-cols > div {
  float: left;
  width: 100%;
}

.g-cols > .one-third {
  width: 29.3333%;
}

.g-cols > div {
  border-color: #e0e0e0;
}
.g-cols:after {
  clear: both;
}
.w-iconbox.iconpos_top {
  max-width: 350px;
}

.w-iconbox.iconpos_top {
  text-align: center;
  margin: 0 auto;
}

.w-iconbox {
  position: relative;
  color: #424242;
}
.w-iconbox i {
  padding-top:20px;
}

.w-iconbox.style_circle.color_light .w-iconbox-icon {
  color: #424242;
  background-color: #f5f5f5;
}
.w-iconbox.style_circle.size_medium .w-iconbox-icon {
  font-size: 34px;
  line-height: 80px;
  height: 80px;
  width: 80px;
}
.w-iconbox.style_circle .w-iconbox-icon {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset,0 1px 1px rgba(0,0,0,0),0 2px 3px rgba(0,0,0,0)!important;
  transition: box-shadow 0.3s;
}
.w-iconbox-icon {
  text-align: center;
  margin: 0 auto;
}
.w-separator.type_invisible.size_medium {
  margin: 20px 0;
}
.w-separator.type_invisible {
  height: 0;
}
.w-separator {
  color: #e0e0e0;
  border-color: #e0e0e0;
  text-align: center;
  overflow: hidden;
  clear: both;
  line-height: 18px;
  height: 20px;
  padding: 2px 0;
}
.items{
    margin: 0;
    list-style: none;
}
.items li {
    line-height: 1.5em;
    padding: 8px 0 8px 20px;
    margin: 0;
    position: relative;
    text-align: left;
}
.items li:before {
  position: relative;
  top: 5px;
  left: -4px;
  content: '\e647';
  font-family: mdfonticon;
  font-size: 20px;
  opacity: 0.5;
}
.items li a {
  color: #7049ba;
  outline: 0;
  text-decoration: none;
  background-color: transparent;
  transition-property: background-color,box-shadow,border,color,opacity,transform;
  transition-duration: 0.3s;
}
.items li {
  line-height: 1.1em;
}


@media only screen and (device-width: 768px) {
  .g-cols > div {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 30px;
  }
}
