.appBar {
  background-color: #e8e8e8;
}
.root {
  padding: 24px 24px 24px 12px;
}
.badge {
  background-color: #F44336;
  font-size: 11px;
}
.button {
  margin-right: 10px;
  .icon {
    font-size: 220%;
  }
}
